{% extends "base.html" %}

{% block title %}
<title>หน้าแรกของเว็บไซต์</title>
{% endblock %}

{% block content %}
<h2 style="color: blueviolet;" class="text-center">ยินดีต้อนรับเข้าสู่ผู้ลงทะเบียน</h2>
    <div class="row mb-3 justify-content-end">
        <form action="" method="GET" class="d-flex">
            <input class="form-control me-2" type="search" name="q" placeholder="ค้นหาผู้ลงทะเบียน..."
                aria-label="Search" value="{{ request.GET.q }}">
            <button class="btn btn-outline-primary me-2" type="submit">ค้นหา</button>
            <a href="/" class="btn btn-outline-secondary">ล้างค่า</a>
        </form>
    </div>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">รหัสผู้ลงทะเบียน</th>
            <th scope="col">ชื่อผู้ลงทะเบียน</th>
            <th scope="col">อายุ</th>
            <th scope="col">แก้ไข</th>
            <th scope="col">ลบ</th>
        </tr>
    </thead>
    <tbody>
    {% for person in all_person %}
    <tr>
        <th scope="row">{{person.id}}</th>
        <td>{{person.name}}</td>
        <td>{{person.age}}</td>
        <td><a href="/edit/{{ person.id }}" class="btn btn-warning">แก้ไข</a></td>
        <td><a href="/delete/{{ person.id }}" class="btn btn-danger">ลบ</a></td>    
    </tr>
    {% empty %}
    <tr>
        <td class="text-centertext-muted" colspan="6">ไม่พบข้อมูลที่คุณค้นหา</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}


